/**
 * Add the checkbox.
 */

.checkbox {

    & > input {

        & ~ b {
            background-color: getColor('white');
            border: solid 1px getColor('gray2');
            border-radius: 4px;

            &::before {
                border-bottom: solid 3px getColor('white');
                border-right: solid 3px getColor('white');
                height: calc(var(--height) / 1.87);
                width: calc(var(--width) / 3.11);
                opacity: 0;
                transform: rotate(45deg);
                transition: opacity 0.5s ease;
                left: calc(var(--width) / 2.8);
                top: calc(var(--height) / 5.6);
            }
        }

        &:checked {

            & ~ b {
                background-color: getColor('blue');
                border: none;
    
                &::before {
                    opacity: 1;
                }
            }
        }

        &:disabled {
            @extend %disabled;
        }
    }

    &.disabled {

        & > input {
            @extend %disabled;
        }
    }

    %disabled {

        & ~ b {
            background-color: getColor('gray2') !important;
            border: none !important;
        }
    }
 }
