/**
 * Add the checkbox.
 */

 .checkbox {
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    justify-content: flex-start;

    & > label {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        flex-flow: row nowrap;
        justify-content: flex-start;
        line-height: 2.4rem;
        margin: 0;
        padding: 0.2rem 0 0.2rem 4rem;

        position: relative;

        &:before {
            content: '';
            background-color: getColor('white');
            border: solid 1px getColor('gray2');
            border-radius: 0.4rem;
            display: block;
            height: 2.8rem;
            width: 2.8rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            content: '';
            border-bottom: solid 2px getColor('white');
            border-right: solid 2px getColor('white');
            border-radius: 0.5rem 0.2rem;
            display: block;
            height: 1.5rem;
            width: 0.9rem;
            opacity: 0;
            transform: rotate(45deg);
            transition: opacity 0.5s ease;
            position: absolute;
            top: 0.6rem;
            left: 1rem;
        }

        & + * {
            margin: 0;
            padding: 0.2rem 0;
        }
    }

     & > input[type="checkbox"] {
        display: none;

        &:checked {

            & + label {

                &:before {
                    background-color: getColor('blue');
                    border-color: none;
                }

                &:after {
                    opacity: 1;
                }
            }
        }

        &:disabled {

            & + label {
                cursor: not-allowed;
                color: getColor('gray2');

                &:before {
                    background-color: getColor('gray2');
                    border: none;
                }
            }
        }
    }

    &--right {
        flex-direction: row-reverse;
        text-align: right;

        & > label {
            padding-left: 0;
            padding-right: 4rem;
    
            &:before {
                left: auto;
                right: 0;
            }
    
            &:after {
                left: auto;
                right: 0.9rem;
            }
        }
    }
 }
