/**
 * Add the select.
 */
.dropdown {

    select {
        padding: 0 6rem 0 2.4rem;

    
        & ~ .arrow {
            background-color: getColor('white');
            border-radius: 1rem;
            display: block;
            height: calc(var(--height) - 2px);
            padding: 2rem;
            pointer-events: none;
            position: absolute;
            right: 1px;
            z-index: 9;

            &::after {
                content: '';
                border-bottom: solid 2px getColor('blue');
                border-right: solid 2px getColor('blue');
                display: block;
                height: calc(var(--height) / 5);
                width: calc(var(--height) / 5);
                transform: rotate(45deg);
            }
        }
    }
}
