/**
 * Add the radio button.
 */

 .radio {

    & > input {

        & ~ b {
            background-color: getColor('white');
            border: solid 1px getColor('gray2');
            border-radius: 50%;

            &::before {
                background-color: getColor('blue');
                border-radius: 50%;
                height: calc(var(--height) - 1rem);
                width: calc(var(--height) - 1rem);
                opacity: 0;
                transition: opacity 0.5s ease;
                left: 4px;
                top: 4px;
            }
        }

        &:checked {

            & ~ b {
                border-color: getColor('blue');
                border-width: 2px;

                &::before {
                    left: 3px;
                    top: 3px;
                    opacity: 1;
                }
            }
        }

        &:disabled {
            @extend %disabled;
        }
    }

    &.disabled {

        & > input {
            @extend %disabled;
        }
    }

    %disabled {

        & ~ b {
            background-color: getColor('gray2') !important;
            border-color: getColor('gray2') !important;
    
            &::before {
                background-color: getColor('gray2') !important;
            }
        }
    
        &:checked {
    
            & ~ b {
                background-color: getColor('white') !important;
                border-color: getColor('gray2') !important;
            }
        }
    }
}

