/**
 * Add the switch button.
 */

.switch {

    & > input {

        & ~ label {

            .off {
                display: inline-block;
            }
    
            .on {
                display: none;
            }
        }

        &:checked {

            & ~ b {
                background-color: getColor('blue');
                border-color: getColor('blue');

                &::before {
                    background-color: getColor('white');
                    left: 50%;
                }
            }

            & ~ label {
                color: inherit;

                .off {
                    display: none;
                }
        
                .on {
                    display: inline-block;
                }
            }
        }
    }
}
