/**
 * Add the toggle button.
 */

.toggle-switch,
.toggle {

    & > input {

        & ~ label {
            min-width: calc(var(--width) / 2);  
        }

        & ~ b {
            margin: 0 calc(var(--width) / 2 - var(--width));
            order: 3;
            padding: 0;
            position: relative;
    
            &::before {
                left: calc(50% - (var(--height) - 4px) / 2);
            }
        }

        &.left {
    
            & + label {
                order: 2;
                padding-right: calc(var(--width) / 2 + var(--gap)); 

                &:empty {
                    margin-left: var(--gap);
                    padding: 0;
                }
            }

            &:checked ~ b::before {
                left: 1px;
            }
        }
    
        &.right {
    
            & + label {
                order: 4;
                padding-left: calc(var(--width) / 2 + var(--gap));

                &:empty {
                    margin-right: var(--gap);
                    padding: 0;    
                }
            }

            &:checked ~ b::before {
                left: 50%;
            }
    }

        &.left:checked, 
        &.right:checked {

            & + label {
                color: inherit;
            }

            &:not(.off) ~ b {
                background-color: getColor('blue');
                border-color: getColor('blue');
        
                &::before {
                    background-color: getColor('white');
                }
            }
    
        }

        &.left:checked ~ .right:checked {

            & ~ b {
                background-color: getColor('white');
                border: solid 1px getColor('error');
        
                &::before {
                    content: 'error';
                    background: none;
                    color: getColor('error');
                    left: 1px;
                    right: 1px;
                    text-align: center;
                    width: auto;
                }
            }
        }
    }
}
