/*
 * Functions.
 * ========================================================================== */
/**
 * Colors.
 */

@function getColor($name) {
    @return map-get($map: $colors, $key: $name);
}

/**
 * Icons.
 */

@mixin addBackgroundImageIcons() {

    @each $icon in $icons {
        @include addBackgroundImageIcon($icon);
    }
}

@mixin addMaskImageIcons() {

    @each $icon in $icons {
        @include addMaskImageIcon($icon);
    }
}

@mixin addBackgroundImageIcon($icon) {

    &--#{$icon} {
        @include getBackgroundImageStyle($icon);
    }
}

@mixin getBackgroundImageStyle($icon) {
    $url: $iconFolder + $icon + '.svg';
    background: url($url) no-repeat 50% 50%;
}

@mixin addMaskImageIcon($icon) {

    &--#{$icon} {
        @include getMaskImageStyle($icon);
    }
}

@mixin getMaskImageStyle($icon) {
    $url: $iconFolder + $icon + '.svg';
    -webkit-mask: url($url) no-repeat 50% 50%;
    mask-image: url($url) no-repeat 50% 50%;
}

@mixin addCalendarDays() {
    @for $day from 1 through 31 {
        &__#{$day} + label::before {
            content: '' + $day;
        }
    }
}
