/*
 * Variables.
 * ========================================================================== */
/**
 * Colors.
 */

$colors: (
    'white': #FFFFFF,
    'black': #212429,
    'blue': #4263EB,
    'blue-hover': #2342C0,
    'purple': #7048E8,
    'purple-hover': #5028C6,
    'pink': #F784AD,
    'highlight': #F784AD,
    'gray1': #F8F9FA,
    'gray2': #DDE2E5,
    'gray3': #ACB5BD,
    'gray4': #495057,
    'error': #F03D3E,
    'success': #374FC7,
    'notification': #D84910,

    'calendar-month': #334d6e,
    'calendar-week': #90a0b7,
    'calendar-day': #334d6e,
    'calendar-day-interval': rgba(#a0b1f5, 0.2),
);

/**
 * Icons.
 */

$iconFolder: '/icons/';
$icons: (
    'home',
    'help-circle',
    'check-circle',
    'alert-triangle',
    'star',
    'shopping-cart',
    'map-pin',
    'calendar',
    'edit',
    'image',
    'bell',
    'upload-cloud',
    'download',
    'bar-chart-2',
    'inbox',
    'filter',
    'map',
    'zap',
    'share-2',
    'message-circle',
    'credit-card',
    'search',
    'user',
    'users',
    'sun',
    'moon',
    'x',
    'chevron-down',
    'menu',
    'check',
);

/**
 * Calendar.
 */

$month: (
    'jan': 31,
    'feb': 28,
    'mar': 31,
    'apr': 30,
    'may': 31,
    'jun': 30,
    'jul': 31,
    'aug': 31,
    'sep': 30,
    'oct': 31,
    'nov': 30,
    'dec': 31
);
